[submodule "Sklejka/vendor/GLFW"]
	path = Sklejka/vendor/GLFW
	url = https://github.com/k-domanski/glfw
[submodule "Sklejka/vendor/glm"]
	path = Sklejka/vendor/glm
	url = https://github.com/k-domanski/glm
[submodule "Sklejka/vendor/imgui"]
	path = Sklejka/vendor/imgui
	url = https://github.com/k-domanski/imgui
